<footer id="Footer" class="clearfix">
	<div class="widgets_wrapper" style="padding:60px 0 50px;">
		<div class="container">
			<div class="column one-fourth">
				<aside id="text-2" class="widget widget_text">
					<div class="textwidget">
						<div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
							<div class="image_wrapper"><img class="scale-with-grid" src="assets/images/tem/footer-logo.png" alt="home_seo2_footer_logo" width="196" height="44" />
							</div>
						</div>
					</div>
				</aside>
			</div>
			<div class="column one-second">
				<aside id="text-4" class="widget widget_text">
					<div class="textwidget">
						<p>
							Aliquam erat ac ipsum. Integer aliquam purus. Quisque lorem tortor fringilla sed, vestibulum id, eleifend justo vel bibendum sapien massa ac turpis faucibus orci luctus non.
						</p>
					</div>
				</aside>
			</div>
			<div class="column one-fourth">
				<aside id="text-5" class="widget widget_text">
					<div class="textwidget">
						<p style="font-size: 35px; line-height: 35px; text-align: center;">
							<a style="color: #e4e4e4;" href="#"><i class="icon-facebook-circled"></i></a><a style="color: #e4e4e4;" href="#"><i class="icon-gplus-circled"></i></a><a style="color: #e4e4e4;" href="#"><i class="icon-pinterest-circled"></i></a>
						</p>
					</div>
				</aside>
			</div>
		</div>
	</div>
	<div class="footer_copy">
		<div class="container">
			<div class="column one">
				<div class="copyright">
					&copy; 2016 BeSEO 2 - BeTheme Muffin group - HTML by <a target="_blank" rel="nofollow" href="https://themeforest.net/item/betheme-html-responsive-multipurpose-template/13925633?ref=beantownthemes">BeantownThemes</a> 
				</div>
			</div>
			<ul class="social"></ul>
		</div>
	</div>
</footer>