<footer id="Footer" class="clearfix">
	<div class="widgets_wrapper" style="padding:60px 0 50px;">
		<div class="container">
			<div class="column one-fourth">
				<aside id="text-2" class="widget widget_text">
					<div class="textwidget">
						<div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
							<div class="image_wrapper"><img class="scale-with-grid" src="assets/images/tem/footer-logo.png" alt="home_seo2_footer_logo" width="196" height="44" />
							</div>
						</div>
					</div>
				</aside>
			</div>
			<div class="column one-second">
				<aside id="text-4" class="widget widget_text">
					<div class="textwidget">
						<p>
							The one stop shop for engineering, project management, and manufacturing
						</p>
					</div>
				</aside>
			</div>
			<div class="column one-fourth">
				<aside id="text-5" class="widget widget_text">
					<div class="textwidget">
						<p style="font-size: 35px; line-height: 35px; text-align: center;">
							<a style="color: #e4e4e4;" href="https://www.facebook.com/TerminalMFG/" target="_blank">
								<i class="icon-facebook-circled"></i>
							</a>
							<a style="color: #e4e4e4;" href="https://www.linkedin.com/company/terminal-manufacturing-company-llc?trk=nav_account_sub_nav_company_admin" target="_blank">
								<i class="icon-linkedin-circled"></i>
							</a>
						</p>
					</div>
				</aside>
			</div>
		</div>
	</div>
	<div class="footer_copy">
		<div class="container">
			<div class="column one">
				<div class="copyright">
					&copy; 2107 Terminal Engineering & Manufacturing
				</div>
			</div>
			<ul class="social"></ul>
		</div>
	</div>
</footer>