<div class="section mcb-section   " style="padding-top:0px; padding-bottom:30px; background-color:">
	<div class="section_wrapper mcb-section-inner">
		<div class="wrap mcb-wrap one  valign-top clearfix">
			<div class="mcb-wrap-inner">
				<div class="column mcb-column one column_divider ">
					<hr class="" style="margin: 0 auto 70px;" />
				</div>
			</div>
		</div>
		<div class="wrap mcb-wrap one-third  valign-top clearfix" style="padding:0 1%">
			<div class="mcb-wrap-inner">
				<div class="column mcb-column one column_column ">
					<div class="column_attr animate" data-anim-type="fadeInLeft" style=" background-color:#3a80f1; padding:50px 35px 0;">
						<h6 style="color: #fff;">From $23 / month
						</h6>
						<h3>
							<a style="color: #fff;" href="#">Web development for big and small business</a>
						</h3>
						<hr class="no_line" style="margin: 0 auto 70px;" />
						<div class="image_frame image_item no_link scale-with-grid alignnone no_border">
							<div class="image_wrapper">
								<img class="scale-with-grid" src="assets/images/home_seo2_box1.png" alt="home_seo2_box1" width="650" height="590"/> 
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="wrap mcb-wrap one-third  valign-top clearfix" style="padding:0 1%">
			<div class="mcb-wrap-inner">
				<div class="column mcb-column one column_column ">
					<div class="column_attr animate" data-anim-type="fadeInUp" style=" background-color:#f1b500; padding:50px 35px 0;">
						<h6 style="color: #fff;">From $29 / month
						</h6>
						<h3>
							<a style="color: #fff;" href="#">Search engine optimization with content strategy
							</a>
						</h3>
						<hr class="no_line" style="margin: 0 auto 70px;" />
						<div class="image_frame image_item no_link scale-with-grid alignnone no_border">
							<div class="image_wrapper">
								<img class="scale-with-grid" src="assets/images/home_seo2_box2.png" alt="home_seo2_box2" width="650" height="590" /> 
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="wrap mcb-wrap one-third  valign-top clearfix" style="padding:0 1%">
			<div class="mcb-wrap-inner">
				<div class="column mcb-column one column_column ">
					<div class="column_attr animate" data-anim-type="fadeInRight" style=" background-color:#1d9e3f; padding:50px 35px 0;">
						<h6 style="color: #fff;">From $35 / month
						</h6>
						<h3>
							<a style="color: #fff;" href="#">Sales boosting and marketing for all kind of e-shops
							</a>
						</h3>
						<hr class="no_line" style="margin: 0 auto 70px;" />
						<div class="image_frame image_item no_link scale-with-grid alignnone no_border">
							<div class="image_wrapper">
								<img class="scale-with-grid" src="assets/images/home_seo2_box3.png" alt="home_seo2_box3" width="650" height="590" /> 
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>