<div id="Header_creative" class="">
    <a href="#" class="creative-menu-toggle"><i class="icon-menu"></i></a>
    <ul class="social creative-social test687"></ul>
    <div class="creative-wrapper">
        <div id="Top_bar">
            <div class="one">
                <div class="top_bar_left">
                    <div class="logo">
                        <a id="logo" href="#" title="BeSEO 2 - BeTheme"><img class="logo-main scale-with-grid" src="assets/images/seo2.png" alt="seo2" /><img class="logo-mobile scale-with-grid" src="assets/images/seo2.png" alt="seo2" />
                        </a>
                    </div>
                    <div class="menu_wrapper">
                        <nav id="menu" class="menu-main-menu-container">
                            <ul id="menu-main-menu" class="menu">
                                <li id="menu-item-6" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-2 current_page_item">
                                    <a href="index-seo2.html"><span>Home</span></a>
                                </li>
                                <li id="menu-item-17" class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="assets/company.html"><span>Company</span></a>
                                </li>
                                <li id="menu-item-16" class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="assets/our-offer.html"><span>Our offer</span></a>
                                </li>
                                <li id="menu-item-15" class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="assets/hire-us.html"><span>Hire us</span></a>
                                </li>
                                <li id="menu-item-7" class="menu-item menu-item-type-custom menu-item-object-custom">
                                    <a target="_blank" href="http://themeforest.net/item/betheme-html-responsive-multipurpose-template/13925633?ref=beantownthemes"><span><span style="padding: 0; color: #e9392a;">Buy now</span></span></a>
                                </li>
                            </ul>
                        </nav><a class="responsive-menu-toggle " href="#"><i class="icon-menu"></i></a>
                    </div>
                    <div class="search_wrapper">
                        <form method="get" id="searchform" action="#">
                            <i class="icon_search icon-search"></i><a href="#" class="icon_close"><i class="icon-cancel"></i></a>
                            <input type="text" class="field" name="s" id="s" placeholder="Enter your search" />
                            <input type="submit" class="submit" value="" style="display:none;" />
                        </form>
                    </div>
                </div>
                <div class="banner_wrapper"></div>
            </div>
        </div>
        <div id="Action_bar">
            <ul class="social"></ul>
        </div>
    </div>
</div>
