<div id="Header_creative">
	<a class="creative-menu-toggle"><i class="icon-menu"></i></a>
	<ul class="social creative-social test687"></ul>
	<div class="creative-wrapper">
		<div id="Top_bar">
			<div class="one">
				<div class="top_bar_left">
					<div class="logo tem_logo" (click)="goTo(['/'], true)">
						<a id="logo logo-link" title="Terminal Engineering & Manufacturing">
							<img class="logo-main scale-with-grid rect-logo" src="assets/images/tem/logo-rect.png" alt="Terminal Engineering & Manufacturing" />
						</a>
					</div>
					<div class="menu_wrapper">
						<nav id="menu" class="menu-main-menu-container">
							<ul id="menu-main-menu" class="menu">
								<li id="menu-item-6" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-2 current_page_item">
									<a (click)="goTo(['/'])"><span>Home</span></a>
								</li>
								<li id="menu-item-17" class="menu-item menu-item-type-post_type menu-item-object-page">
									<a (click)="goTo(['/company'])"><span>Company</span></a>
								</li>
								<li id="menu-item-16" class="menu-item menu-item-type-post_type menu-item-object-page">
									<a (click)="goTo(['/team'])"><span>Team</span></a>
								</li>
								<li id="menu-item-15" class="menu-item menu-item-type-post_type menu-item-object-page">
									<a (click)="goTo(['/certifications'])"><span>Certifications</span></a>
								</li>
								<li id="menu-item-15" class="menu-item menu-item-type-post_type menu-item-object-page">
									<a (click)="goTo(['/facility'])"><span>Facility Listing</span></a>
								</li>
								<li id="menu-item-15" class="menu-item menu-item-type-post_type menu-item-object-page">
									<a><span>Projects</span></a>
								</li>
								<li id="menu-item-15" class="menu-item menu-item-type-post_type menu-item-object-page">
									<a (click)="goTo(['/contact'])"><span>Contact</span></a>
								</li>
							</ul>
						</nav><a class="responsive-menu-toggle "><i class="icon-menu"></i></a>
					</div>
					<div class="search_wrapper">
						<form method="get" id="searchform" action="#">
							<i class="icon_search icon-search"></i><a class="icon_close"><i class="icon-cancel"></i></a>
							<input type="text" class="field" name="s" id="s" placeholder="Enter your search" />
							<input type="submit" class="submit" value="" style="display:none;" />
						</form>
					</div>
				</div>
				<div class="banner_wrapper"></div>
			</div>
		</div>
		<div id="Action_bar">
			<ul class="social"></ul>
		</div>
	</div>
</div>
