#Header .top_bar_left,.header-classic #Top_bar,.header-plain #Top_bar,.header-stack #Top_bar,.header-split #Top_bar,.header-fixed #Top_bar,.header-below #Top_bar,#Header_creative,#Top_bar #menu,.sticky-tb-color #Top_bar.is-sticky {
    background-color: #01508D;
}

#Top_bar .menu > li.current-menu-item > a,#Top_bar .menu > li.current_page_item > a,#Top_bar .menu > li.current-menu-parent > a,#Top_bar .menu > li.current-page-parent > a,#Top_bar .menu > li.current-menu-ancestor > a,#Top_bar .menu > li.current-page-ancestor > a,#Top_bar .menu > li.current_page_ancestor > a,#Top_bar .menu > li.hover > a {
    color: #F3B31B;
}

#Top_bar .menu > li > a {
    color: #fff;
}


@media (max-width: 1239px){
	.tem_logo img {
		max-height: auto;
	}	
	
	.tem_logo {
	    background-color: #fff;
	    width: 70px;
	    text-align: center;
	}
}

