<div class="section mcb-section   " style="padding-top:90px; padding-bottom:20px; background-color:">
	<div class="section_wrapper mcb-section-inner">
		<div *ngFor="let item of data" class="wrap mcb-wrap one-second  valign-top clearfix" style="padding:0 2% 0 0">
			<div class="mcb-wrap-inner">
				<div class="column mcb-column one-fourth column_image ">
					<div class="animate" data-anim-type="bounceIn">
						<div class="image_frame image_item no_link scale-with-grid no_border">
							<div class="image_wrapper"><img class="scale-with-grid" style="border-radius: 100%;" [src]="item.image" alt="home_seo2_icon1" width="110" height="110" /> 
							</div>
						</div>
					</div>
				</div>
				<div class="column mcb-column three-fourth column_column ">
					<div class="column_attr animate" data-anim-type="fadeIn">
						<h4>
							{{item.title}}
						</h4>
						<p>
							{{item.text}}
						</p>
					</div>
				</div>
			</div>
		</div>
		<!-- <div class="wrap mcb-wrap one-second  valign-top clearfix" style="padding:0 2% 0 0">
			<div class="mcb-wrap-inner">
				<div class="column mcb-column one-fourth column_image ">
					<div class="animate" data-anim-type="bounceIn">
						<div class="image_frame image_item no_link scale-with-grid no_border">
							<div class="image_wrapper"><img class="scale-with-grid" src="assets/images/home_seo2_icon2.png" alt="home_seo2_icon2" width="110" height="110" /> 
							</div>
						</div>
					</div>
				</div>
				<div class="column mcb-column three-fourth column_column ">
					<div class="column_attr animate" data-anim-type="fadeIn">
						<h4>Online marketing
						</h4>
						<p>
							Lorem ipsum dolor sit amet, consm est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="wrap mcb-wrap divider  valign-top clearfix">
			<div class="mcb-wrap-inner">
			</div>
		</div>
		<div class="wrap mcb-wrap one-second  valign-top clearfix" style="padding:0 2% 0 0">
			<div class="mcb-wrap-inner">
				<div class="column mcb-column one-fourth column_image ">
					<div class="animate" data-anim-type="bounceIn">
						<div class="image_frame image_item no_link scale-with-grid no_border">
							<div class="image_wrapper"><img class="scale-with-grid" src="assets/images/home_seo2_icon3.png" alt="home_seo2_icon3" width="110" height="110" /> 
							</div>
						</div>
					</div>
				</div>
				<div class="column mcb-column three-fourth column_column ">
					<div class="column_attr animate" data-anim-type="fadeIn">
						<h4>Sales optimization
						</h4>
						<p>
							Lorem ipsum dolor sit amet, consm est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="wrap mcb-wrap one-second  valign-top clearfix" style="padding:0 2% 0 0">
			<div class="mcb-wrap-inner">
				<div class="column mcb-column one-fourth column_image ">
					<div class="animate" data-anim-type="bounceIn">
						<div class="image_frame image_item no_link scale-with-grid no_border">
							<div class="image_wrapper"><img class="scale-with-grid" src="assets/images/home_seo2_icon4.png" alt="home_seo2_icon4" width="110" height="110" /> 
							</div>
						</div>
					</div>
				</div>
				<div class="column mcb-column three-fourth column_column ">
					<div class="column_attr animate" data-anim-type="fadeIn">
						<h4>Content strategy
						</h4>
						<p>
							Lorem ipsum dolor sit amet, consm est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore
						</p>
					</div>
				</div>
			</div>
		</div> -->
	</div>
</div>