<div id="Header_wrapper" class="bg-parallax" data-enllax-ratio="0.3">
	<header id="Header">
		<div class="mfn-main-slider" id="mfn-rev-slider">
			<div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
				<div id="rev_slider_1_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.2.5.1">
					<ul>
						<li data-index="rs-1" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
							<img [src]="mainImage" alt="" title="home_seo2_slider_bg" width="1920" height="820" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="7" class="rev-slidebg" data-no-retina>
							<div class="tp-caption tem-title mfnrs_seo2_large_light tp-resizeme" id="slide-1-layer-1" data-x="50" data-y="140" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;" data-transform_in="x:50px;opacity:0;s:900;e:Power2.easeInOut;" data-transform_out="opacity:0;s:300;" data-start="500" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 5; white-space: nowrap;" [innerHtml]="title">
							</div>
							<div class="tp-caption tp-resizeme" id="slide-1-layer-2" data-x="50" data-y="325" data-width="['none','none','none','none']" data-height="['none','none','none','none']" data-transform_idle="o:1;" data-transform_in="opacity:0;s:900;e:Power2.easeInOut;" data-transform_out="opacity:0;s:300;" data-start="800" data-responsive_offset="on" style="z-index: 6;">
								<img src="assets/images/home_seo2_slider_icon1.png" alt="" width="40" height="44" data-ww="40px" data-hh="44px" data-no-retina> 

							</div>
							<div class="tp-caption tem-subtitle mfnrs_seo2_small_light   tp-resizeme" id="slide-1-layer-6" data-x="115" data-y="338" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;" data-transform_in="x:50px;opacity:0;s:900;e:Power2.easeInOut;" data-transform_out="opacity:0;s:300;" data-start="800" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap; font-size: 20px; line-height: 22px;">
								{{subtitle1}}

							</div>
							<div class="tp-caption tem-subtitle tp-resizeme" id="slide-1-layer-4" data-x="50" data-y="400" data-width="['none','none','none','none']" data-height="['none','none','none','none']" data-transform_idle="o:1;" data-transform_in="opacity:0;s:900;e:Power2.easeInOut;" data-transform_out="opacity:0;s:300;" data-start="1100" data-responsive_offset="on" style="z-index: 8;">
								<img src="assets/images/home_seo2_slider_icon2.png" alt="" width="38" height="38" data-ww="38px" data-hh="38px" data-no-retina> 

							</div>
							<div class="tp-caption tem-subtitle mfnrs_seo2_small_light   tp-resizeme" id="slide-1-layer-7" data-x="115" data-y="412" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;" data-transform_in="x:50px;opacity:0;s:900;e:Power2.easeInOut;" data-transform_out="opacity:0;s:300;" data-start="1100" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 9; white-space: nowrap; font-size: 20px; line-height: 22px;">
								{{subtitle2}}
							</div>
							<div class="tp-caption tem-subtitle tp-resizeme" id="slide-1-layer-5" data-x="50" data-y="475" data-width="['none','none','none','none']" data-height="['none','none','none','none']" data-transform_idle="o:1;" data-transform_in="opacity:0;s:900;e:Power2.easeInOut;" data-transform_out="opacity:0;s:300;" data-start="1400" data-responsive_offset="on" style="z-index: 10;">
								<img src="assets/images/home_seo2_slider_icon3.png" alt="" width="36" height="35" data-ww="36px" data-hh="35px" data-no-retina> 

							</div>
							<div class="tp-caption tem-subtitle mfnrs_seo2_small_light   tp-resizeme" id="slide-1-layer-8" data-x="115" data-y="485" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;" data-transform_in="x:50px;opacity:0;s:900;e:Power2.easeInOut;" data-transform_out="opacity:0;s:300;" data-start="1400" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 11; white-space: nowrap; font-size: 20px; line-height: 22px;">
								{{subtitle3}}
							</div>
							<a class="tp-caption tem-button mfnrs_seo2_button   tp-resizeme" href="" id="slide-1-layer-9" data-x="50" data-y="575" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;" data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:500;e:Linear.easeNone;" data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(61, 178, 49, 1.00);br:0px 0px 0px 0px;" data-transform_in="opacity:0;s:900;e:Power2.easeInOut;" data-transform_out="opacity:0;s:300;" data-start="1700" data-splitin="none" data-splitout="none" data-actions='' data-responsive_offset="on" style="z-index: 12; white-space: nowrap; font-size: 20px; line-height: 22px; cursor: pointer;">{{button}} 
							</a>
							<div class="tp-caption tem-subtitle tp-resizeme" id="slide-1-layer-10" data-x="right" data-hoffset="50" data-y="bottom" data-voffset="-10" data-width="['none','none','none','none']" data-height="['none','none','none','none']" data-transform_idle="o:1;" data-transform_in="y:bottom;s:1400;e:Power2.easeInOut;" data-transform_out="opacity:0;s:300;" data-start="900" data-responsive_offset="on" style="z-index: 13;">
								<img [src]="subImage" alt="" width="713" height="368" data-ww="713px" data-hh="368px" data-no-retina> 
							</div>
						</li>
					</ul>
					<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;">
					</div>
				</div>
			</div>
		</div>
	</header>
</div>