 <div class="section mcb-section equal-height  " style="padding-top:70px; padding-bottom:30px; background-color:">
 	<div class="section_wrapper mcb-section-inner">
 		<div class="wrap mcb-wrap one  valign-top clearfix">
 			<div class="mcb-wrap-inner">
 				<div class="column mcb-column one-third column_column ">
 					<div class="column_attr align_center" style="background-color: rgb(0, 76, 145);; padding:40px 8% 25px; height: 400px;">
 						<div class="image_frame image_item no_link scale-with-grid alignnone no_border">
 						<div class="image_wrapper"><img class="scale-with-grid" src="/assets/images/home_seo2_contactbox_1.png" alt="home_seo2_contactbox_1" width="110" height="110" />
 							</div>
 						</div>
 						<hr class="no_line" style="margin: 0 auto 30px;" />
 						<h4 style="color: #fff;">Contact form</h4>
 						<p style="color: #fff;">
 							To learn more about our company, inquire about project or job opportunities, or if you need project assistance we would love to hear from you!
 						</p>
 						<a class="button button_size_2 button_js" (click)="scrollTo('#contactform')"><span class="button_label">Send a message</span></a>
 					</div>
 				</div>
 				<div class="column mcb-column one-third column_column ">
 					<div class="column_attr align_center" style="background-color: rgb(255, 177, 0); padding:40px 8% 25px; height: 400px;">
 						<div class="image_frame image_item no_link scale-with-grid alignnone no_border">
 						<div class="image_wrapper"><img class="scale-with-grid" src="/assets/images/home_seo2_contactbox_2.png" alt="home_seo2_contactbox_2" width="110" height="110" />
 							</div>
 						</div>
 						<hr class="no_line" style="margin: 0 auto 30px;" />
 						<h4 style="color: #fff;">Call us</h4>
 						<p style="color: #fff;">
 							Give us a call directly to get an immediate response.
 						</p>
 						<h4 style="font-weight: 400; margin-bottom: 7px;">+1 510 526 3071</h4>
 					</div>
 				</div>
 				<div class="column mcb-column one-third column_column ">
 					<div class="column_attr align_center" style=" background-color:rgb(40, 57, 84); padding:40px 8% 25px; height: 400px;">
 						<div class="image_frame image_item no_link scale-with-grid alignnone no_border">
 						<div class="image_wrapper"><img class="scale-with-grid" src="/assets/images/home_seo2_contactbox_3.png" alt="home_seo2_contactbox_3" width="110" height="110" />
 							</div>
 						</div>
 						<hr class="no_line" style="margin: 0 auto 30px;" />
 						<h4 style="color: #fff;">Social media</h4>
 						<p style="color: #fff;">
 							Connect with us to see updates, pictures, and to keep in touch!
 						</p>
 						<a href="https://www.facebook.com/TerminalMFG/" target="_blank" class="icon_bar  icon_bar_facebook icon_bar_small">
 							<span class="t">
 								<i class="icon-facebook"></i>
 							</span>
 							<span class="b">
 								<i class="icon-facebook"></i>
 							</span>
 						</a>
 						<a href="https://www.linkedin.com/company-beta/2435549/" target="_blank" class="icon_bar  icon_bar_google icon_bar_small">
 							<span class="t">
 								<i class="icon-linkedin"></i>
 							</span>
 							<span class="b">
 								<i class="icon-linkedin"></i>
 							</span>
 						</a>
 					</div>
 				</div>
 			</div>
 		</div>
 	</div>
 </div>