<div class="section mcb-section highlight-left" [ngStyle]="{'background-image':'url(' + data?.backgroundImage + ')'}" style="padding-top:0px; padding-bottom:0px; background-repeat:no-repeat; background-position:right bottom;  ">
    <div class="section_wrapper mcb-section-inner">
        <div class="wrap mcb-wrap one-second  valign-top clearfix" style="padding:70px 4% 30px">
            <div class="mcb-wrap-inner">
                <div class="column mcb-column one column_column  column-margin-30px">
                    <div class="column_attr">
                        <h2 style="color: #fff;">{{data?.title}}</h2>
                    </div>
                </div>
                <div class="column mcb-column one-second column_column ">
                    <div class="column_attr" style=" padding:0 3% 0 0;">
                        <h4 style="color: #fff;">{{data?.header1}}</h4>
                        <p style="color: #fff;">
                            {{data?.content1}}
                        </p>
                    </div>
                </div>
                <div class="column mcb-column one-second column_column ">
                    <div class="column_attr">
                        <h4 style="color: #fff;">{{data?.header2}}</h4>
                        <p style="color: #fff;">
                            {{data?.content2}}
                        </p>
                    </div>
                </div>
                <div class="column mcb-column one column_button">
                    <a class="button  button_size_2 button_js" href="#" style=" background-color:#57cd4b !important; color:#fff;"><span class="button_label">{{data?.buttonText}}</span></a>
                </div>
            </div>
        </div>
    </div>
</div>