<div *ngIf="currentPage?.elements">
	<tem-small-header [title]="currentPage.pageTitle"></tem-small-header>

	<div *ngFor="let el of currentPage.elements">
		<div [ngSwitch]="el.type">
			<tem-offer [content]="el" *ngSwitchCase="'offer'"></tem-offer>
			<tem-half-page-image 
				[data]="el.data"
				*ngSwitchCase="'half-page-image'">
				</tem-half-page-image>
			<tem-subheader [text]="el.data" *ngSwitchCase="'subheader'"></tem-subheader>
			<tem-triple-panes [data]="el.data" *ngSwitchCase="'triple-panes'"></tem-triple-panes>
			<tem-four-bulletpoints [data]="el.data" *ngSwitchCase="'four-bulletpoints'"></tem-four-bulletpoints>
			<tem-four-column [data]="el.data"  *ngSwitchCase="'four-column'"></tem-four-column>
			<tem-contact *ngSwitchCase="'contact'"></tem-contact>
			<tem-gallery *ngSwitchCase="'gallery'" [data]="el.data"></tem-gallery>
			<tem-spacer *ngSwitchCase="'spacer'" [data]="el.data"></tem-spacer>
		</div>
	</div>
</div>


<div *ngIf="!currentPage?.elements">
	<tem-small-header title="Sorry, page not found"></tem-small-header>
</div>