<tem-hero 
	[title]="hero.title" 
	[mainImage]="hero.mainImage" 
	[subImage]="hero.subImage"
	[subtitle1]="hero.subtitle1"
	[subtitle2]="hero.subtitle2"
	[subtitle3]="hero.subtitle3"
	[button]="hero.button"
	></tem-hero>
<div id="Content">
	<div class="content_wrapper clearfix">
		<div class="sections_group">
			<div class="entry-content" itemprop="mainContentOfPage">
				<div class="section mcb-section   " style="padding-top:90px; padding-bottom:20px; background-color:">
					<div class="section_wrapper mcb-section-inner">
						<div class="wrap mcb-wrap one  valign-top clearfix">
							<div class="mcb-wrap-inner">
								<div class="column mcb-column one column_column ">
									<div class="column_attr animate" data-anim-type="fadeIn">
										<h2>Few reasons why we are one
											<br />
											of the most effective SEO agencies in the universe
										</h2>
									</div>
								</div>
							</div>
						</div>
						<div class="wrap mcb-wrap one-second  valign-top clearfix" style="padding:0 2% 0 0">
							<div class="mcb-wrap-inner">
								<div class="column mcb-column one-fourth column_image ">
									<div class="animate" data-anim-type="bounceIn">
										<div class="image_frame image_item no_link scale-with-grid no_border">
											<div class="image_wrapper"><img class="scale-with-grid" src="assets/images/home_seo2_icon1.png" alt="home_seo2_icon1" width="110" height="110" /> 
											</div>
										</div>
									</div>
								</div>
								<div class="column mcb-column three-fourth column_column ">
									<div class="column_attr animate" data-anim-type="fadeIn">
										<h4>Web development
										</h4>
										<p>
											Lorem ipsum dolor sit amet, consm est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="wrap mcb-wrap one-second  valign-top clearfix" style="padding:0 2% 0 0">
							<div class="mcb-wrap-inner">
								<div class="column mcb-column one-fourth column_image ">
									<div class="animate" data-anim-type="bounceIn">
										<div class="image_frame image_item no_link scale-with-grid no_border">
											<div class="image_wrapper"><img class="scale-with-grid" src="assets/images/home_seo2_icon2.png" alt="home_seo2_icon2" width="110" height="110" /> 
											</div>
										</div>
									</div>
								</div>
								<div class="column mcb-column three-fourth column_column ">
									<div class="column_attr animate" data-anim-type="fadeIn">
										<h4>Online marketing
										</h4>
										<p>
											Lorem ipsum dolor sit amet, consm est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="wrap mcb-wrap divider  valign-top clearfix">
							<div class="mcb-wrap-inner">
							</div>
						</div>
						<div class="wrap mcb-wrap one-second  valign-top clearfix" style="padding:0 2% 0 0">
							<div class="mcb-wrap-inner">
								<div class="column mcb-column one-fourth column_image ">
									<div class="animate" data-anim-type="bounceIn">
										<div class="image_frame image_item no_link scale-with-grid no_border">
											<div class="image_wrapper"><img class="scale-with-grid" src="assets/images/home_seo2_icon3.png" alt="home_seo2_icon3" width="110" height="110" /> 
											</div>
										</div>
									</div>
								</div>
								<div class="column mcb-column three-fourth column_column ">
									<div class="column_attr animate" data-anim-type="fadeIn">
										<h4>Sales optimization
										</h4>
										<p>
											Lorem ipsum dolor sit amet, consm est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="wrap mcb-wrap one-second  valign-top clearfix" style="padding:0 2% 0 0">
							<div class="mcb-wrap-inner">
								<div class="column mcb-column one-fourth column_image ">
									<div class="animate" data-anim-type="bounceIn">
										<div class="image_frame image_item no_link scale-with-grid no_border">
											<div class="image_wrapper"><img class="scale-with-grid" src="assets/images/home_seo2_icon4.png" alt="home_seo2_icon4" width="110" height="110" /> 
											</div>
										</div>
									</div>

									
								</div>
								<div class="column mcb-column three-fourth column_column ">
									<div class="column_attr animate" data-anim-type="fadeIn">
										<h4>Content strategy
										</h4>
										<p>
											Lorem ipsum dolor sit amet, consm est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="section mcb-section   " style="padding-top:0px; padding-bottom:30px; background-color:">
					<div class="section_wrapper mcb-section-inner">
						<div class="wrap mcb-wrap one  valign-top clearfix">
							<div class="mcb-wrap-inner">
								<div class="column mcb-column one column_divider ">
									<hr class="" style="margin: 0 auto 70px;" />
								</div>
							</div>
						</div>
						<div class="wrap mcb-wrap one-third  valign-top clearfix" style="padding:0 1%">
							<div class="mcb-wrap-inner">
								<div class="column mcb-column one column_column ">
									<div class="column_attr animate" data-anim-type="fadeInLeft" style=" background-color:#3a80f1; padding:50px 35px 0;">
										<h6 style="color: #fff;">From $23 / month
										</h6>
										<h3><a style="color: #fff;" href="#">Web development for big and small business
										</a>
									</h3>
									<hr class="no_line" style="margin: 0 auto 70px;" />
									<div class="image_frame image_item no_link scale-with-grid alignnone no_border">
										<div class="image_wrapper"><img class="scale-with-grid" src="assets/images/home_seo2_box1.png" alt="home_seo2_box1" width="650" height="590" /> 
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="wrap mcb-wrap one-third  valign-top clearfix" style="padding:0 1%">
						<div class="mcb-wrap-inner">
							<div class="column mcb-column one column_column ">
								<div class="column_attr animate" data-anim-type="fadeInUp" style=" background-color:#f1b500; padding:50px 35px 0;">
									<h6 style="color: #fff;">From $29 / month
									</h6>
									<h3><a style="color: #fff;" href="#">Search engine optimization with content strategy
									</a>
								</h3>
								<hr class="no_line" style="margin: 0 auto 70px;" />
								<div class="image_frame image_item no_link scale-with-grid alignnone no_border">
									<div class="image_wrapper"><img class="scale-with-grid" src="assets/images/home_seo2_box2.png" alt="home_seo2_box2" width="650" height="590" /> 
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="wrap mcb-wrap one-third  valign-top clearfix" style="padding:0 1%">
					<div class="mcb-wrap-inner">
						<div class="column mcb-column one column_column ">
							<div class="column_attr animate" data-anim-type="fadeInRight" style=" background-color:#1d9e3f; padding:50px 35px 0;">
								<h6 style="color: #fff;">From $35 / month
								</h6>
								<h3><a style="color: #fff;" href="#">Sales boosting and marketing for all kind of e-shops
								</a>
							</h3>
							<hr class="no_line" style="margin: 0 auto 70px;" />
							<div class="image_frame image_item no_link scale-with-grid alignnone no_border">
								<div class="image_wrapper"><img class="scale-with-grid" src="assets/images/home_seo2_box3.png" alt="home_seo2_box3" width="650" height="590" /> 
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
